﻿/* add your styling here */

h3 {
  font-size: 24px;
}

.background-black {
  color: #fff;
  background-color: #000;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 25px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  z-index: 1;
  letter-spacing: 5px;
}

.navbar a {
  color: #000;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  display: block;
  margin: 0 auto;
  position: relative;
  letter-spacing: 5px;
}

header .container-title {
  position: absolute;
  top: 45%;
  left: 40%;
}

header .initial-title {
  color: #fff;
  background-color: #000;
  padding: 8px 16px !important;
  opacity: 0.75;
}

.text-white {
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px !important;
}

.padding {
  padding: 8px 16px !important;
}

.padding-32 {
  padding: 0.01em 32px;
}

.padding-16 {
  padding: 0.01em 32px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.border-bottom {
  border-bottom: 1px solid #ccc !important;
}

.row {
  padding: 0 8px;
}

.col-25 {
  width: 25%;
}

.row .col-25 {
  padding: 0 8px;
}

.galery-container {
  position: relative;
}

.galery-container .title {
  position: absolute;
  left: 0;
  top: 0;
}

.margin-bottom {
  margin-bottom: 32px;
}

.center {
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc !important;
}

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.btn-primary {
  color: #fff !important;
  background-color: #000 !important;
}

footer {
  display: block;
}

@media only screen and (max-width: 600px) {
  .navbar-menu {
    display: none;
  }

  .display-title {
    display: none;
  }

  .col-25 {
    width: 50%;
  }
}
